.catalogo{
    margin-inline: auto;
}
.catalogo__list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-4);
    
}
.catalogo__list> li {
    list-style: none;
}

.card{
    width: 200px;
    padding-bottom:  var(--spacing-2);
    background-color: var(--muted);
    border-radius: var(--rounded-md);
    box-shadow: 0px 4px 4px 0px var(--background-hover)
}
.card > img{
    object-fit:cover;
    width: 100%;
    border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}
    .card__content{
        height: var(--spacing-20);
        overflow-y:scroll;
        position: relative;

    }
    .card__content >  h4{
    font-family: var(--display);
    padding-inline: var(--spacing-1);
    color: var(--primary);
    font-size: var(--font-lg);
    line-height: var(--leading-5);
    position: sticky;
    top: 0;
    background-color: var(--muted);
    z-index: 1;
}
.card__content >   .description{
    font-size: var(--font-sm);
    padding-inline: var(--spacing-2);
    line-height: var(--leading-4);
    height: var(--font-5xl);
}

.card > .price {
    padding: var(--spacing-1);
}
.card > .card__button{
    display: flex;
    justify-content: space-evenly;
}