.catalogo{
    margin-inline: auto;
}
.catalogo__list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2);
    max-width: var(--width-8xl);
    
    
}
.catalogo__list> li {
    list-style: none;
}

.card{
    width: 250px;
    padding-bottom:  var(--spacing-2);
    background-color: var(--muted);
    border-radius: var(--rounded-md);
    box-shadow: 0px 4px 4px 0px var(--background-hover)
}
.card > img{
    object-fit:cover;
    width: 100%;
    border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}

.card > h4{
    font-family: var(--display);
    padding-inline: var(--spacing-1);
    color: var(--primary);
    font-size: var(--font-lg);
}
.card > .description{
    font-size: var(--font-sm);
    padding-inline: var(--spacing-2);
    line-height: var(--leading-4);
    height: var(--font-5xl);
    overflow-y:scroll;
}

.card > .price {
    padding: var(--spacing-1);
}
.card > .card__button{
    display: flex;
    justify-content: space-evenly;
}