<script>

</script>
<section class="section">
    <div class="hero">
        <div class="hero__content">
            <h2 class="hero__lead">
                Cart Rendering
            </h2>
            <p>
                through populate feature from mongoDB, we are able to deliver
                products' in cart information.
            </p>

        </div>
    </div>
    <div class="cart__lead section container center">
        <h3 class="hero__lead">
            current cart's products List
        </h3>
        <ul class="cart__products">
            {{#checkList products}}
                {{printCartItem this}}
            {{/checkList}}
        </ul>
        <a class="button" href="/api/cart/purchase">
            Go to checkout
        </a>
    </div>
</section>
