<link rel="stylesheet" href="/styles/chat.css">
<section class="section">
    <div class="container chat__container">
        <div class="hero ">
            <h2 class="hero__title">{{usser}}, Wellcome to our comments section 🍔 </h2>
            <p class="hero__lead">here you can test the /chat endpoint, this is a WebSocket implementation by using the library socket.io.</p>
            <br>
            <p class="hero__lead">you can open multiple tabs with diferent sessions and see how it updates every intance and send data in real time.</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container chat__container">
        <ul class="chat__list">
            {{#checkList messages}}
                {{printMessage this}}
            {{/checkList }}
        </ul>
        <div class="testing-area">
            <form class="chat__form" id="chat__form">
                <label class="label">
                    <p>as {{usser}}</p>
                    <input type="text" class="input" placeholder="username" name="usser" required value={{usser}} style="display:none">
                </label>
                <label class="label">
                    <p>Add your comment</p>
                    <textarea  name="message" placeholder="message" class="input" required></textarea>
                </label>
                <button type="submit" class="button ">Send</button>
            </form>
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/chat.js"></script> 
