<section class="section">
    <div class="hero">
        <div class="hero__content">
            <h4 class="hero__lead">
                Create your account to use our services
            </h4>
            <p>Email must be unique and valid email</p>
            <br>
            <p>Password only requires to be 8 caracters minimum, for sure you could implement an especific REGEX for your own</p>
            <br>
            <p>By default the Api and also the template's demo requires users +18</p>
            <br>
            <p>Email and password are what you gonna need for login later</p>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <h4 class="title center">Sign Up Form</h4>
        <form action="/api/usser/template" method="post" class="form">
            <label class="label">
                <p>First Name</p>
                <input type="text" required name="first_name"  class="input" placeholder="Alexis">
            </label>
            <label class="label">
                <p>Last Name</p>
                <input type="text" required name="last_name"  class="input" placeholder="Perdomo">
            </label>
            <label class="label">
                <p>Age</p>
                <input type="number" required name="age"  class="input" placeholder="21">
            </label>
            <label class="label">
                <p>Password</p>
                <input type="password" required name="password" class="input" placeholder="********">
            </label>
            <label class="label">
                <p>Email</p>
                <input type="email" required name="email"  class="input" placeholder="testino@mail.com">
            </label>
            <button class="button full-width">
                Create Account
            </button>
        </form>
        <br>
        <p class="center sm">
            Already have an account?? <a href="/login" class="link link--branded sm">sign in</a>
        </p>
        
    </div>
</section>
