<section class="section ">
    <div class="center">
        <div class="error__container">
            <h4 class="hero__lead hero__error">
                {{status}} {{message}}
            </h4>
            <p class="center">go to  <a class="link link--branded link--error" href={{redirect}}>{{destiny}}</a></p>
        </div>
    </div>
</section>