<section class="section-lg">
    <div class="hero">
        <div class="hero__content hero--center">
            <h1 class="hero__title">Wellcome {{usser}} to e-comerse signed as {{role}}</h1>
            <p class="hero__content">check our catalogo here and delite yourself</p>
            <a href="/products" class="link link--branded">see catalogo 🔥</a>
            <a href="/comments" class="link link--branded">real time comments 🔥</a>
        </div>
        <div class="hero__content hero--center">
            <hr>
            <h3 class="hero__content">Test Admin</h3>
            <p>para probar agregar, editar, eliminar productos como admin hay que usar algun cliente como postman jeje</p>
            <p><strong>Email</strong>: adminCoder@coder.com</p>
            <p><strong>Password</strong>: adminCod3r123</p>
            <hr>
            <h3 class="hero__content">Test regular</h3>
            <p><strong>Email</strong>: a@s</p>
            <p><strong>Password</strong>: pollo</p>
            <a href="/login" class="link link--branded">Login</a>
        </div>


    </div>
</section>
<section class="section">
    <div class="container">
    </div>
</section>
