<section class="section-lg">
    <div class="hero">
        <div class="hero__content hero--center">
            <h1 class="hero__title">Wellcome
                {{usser}}
                to e-comerse signed as
                {{role}}
            </h1>
            <p class="hero__lead">
                This is a demo template For E-free API.
            </p>
            <p class="hero__lead">
                All contributions or support to the main repository are more
                than wellcome!
            </p>

        </div>
    </div>
    <div class="hero__content hero--center">
        <hr />
        <p class="hero__lead">
            To make use of the views please start by initiate a session, don't
            worry about create an account (if you don't want to do so) there is
            as guest session.
        </p>
        <a href="/login" class="button">
            Login
        </a>
        <br />
        <p class="hero__lead">
            Any case catalog view is not secured by default so you could go
            there first!
        </p>

        <a class="button" href="/products">
            Catalog
        </a>
        <hr />
        <a class="button" href="/api/usser/logout">Logout</a>
    </div>
</section>
