<section class="section">
    <div class="hero">
        <div class="hero__content c">
            <h4 class="hero__lead center">
                Login 
            </h4>
            <form action="/api/usser/login" method="post" class="login c">
                <label class="label">
                    <p>Email</p>
                    <input type="email" required name="ussername"  class="input">
                </label>
                <label class="label">
                    <p>Password</p>
                    <input type="password" required name="password" class="input ">
                </label>
                <button class="button full-width">
                    Log in
                </button>
            </form>
            <p class="center">you can also use <a href="/api/usser/github" class="link link--branded">github to login</a></p>
            <p class="center">
                do not have an account yet? <a href="/createAccount" class="link link--branded">sign up</a>
            </p>
        </div>
    </div>
</section>